.ProducInTable {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  color: rgba(21, 4, 68, 0.753);
  font-weight: 700;
}
/* custom Checkbox */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 17px;
  width: 17px;
  border-radius: 3px;
  margin-left: 35%;
  background-color: rgba(238, 238, 238, 0.904);
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: rgba(211, 98, 22, 0.178);
}

/* When the checkbox is checked,*/
.container input:checked ~ .checkmark {
  background-color: #8f4175ab;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* ***************************************** */

.delete,
.edit,
.view {
  padding: 10px 25px;
  color: rgb(245, 239, 239);
  font-weight: 700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.delete,
.edit,
.view:hover {
  outline: none;
}
.delete,
.edit,
.view:focus {
  outline: none;
}
.edit {
  background-color: rgba(141, 103, 57, 0.5);
}
.view {
  background-color: rgba(15, 41, 90, 0.349);
}
.delete {
  background-color: rgba(112, 11, 31, 0.87);
}
.ProducInTable .editable {
  background: linear-gradient(
    to right,
    rgba(218, 153, 69, 0.144) 0%,
    rgba(218, 153, 69, 0.144) 0%,
    rgba(218, 153, 69, 0.144) 30%,
    rgba(145, 104, 142, 0.774) 40%
  );
  background-size: 300% 300%;
  margin-bottom: 10px;
  padding-top: 25px;

  animation: Slide 1s ease 1;
}

@keyframes Slide {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
.ProducInTable .editable .formHead {
  display: flex;
  justify-content: space-between;
}
th.sticky-header {
  position: sticky;
  top: 0;
  z-index: 10;
  /*To not have transparent background.
  background-color: white;*/
}
