.ProducInTable {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  color: rgba(21, 4, 68, 0.753);
  font-weight: 700;
}
.delete,
.edit,
.view {
  padding: 10px 25px;
  color: rgb(245, 239, 239);
  font-weight: 700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.delete,
.edit,
.view:hover {
  outline: none;
}
.delete,
.edit,
.view:focus {
  outline: none;
}
.edit {
  background-color: rgba(136, 94, 40, 0.5);
}
.view {
  background-color: rgba(15, 41, 90, 0.349);
}
.delete {
  background-color: rgba(112, 11, 31, 0.87);
}
.ProducInTable .editable {
  background: linear-gradient(
    to right,
    rgba(218, 153, 69, 0.144) 0%,
    rgba(218, 153, 69, 0.144) 0%,
    rgba(218, 153, 69, 0.144) 30%,
    rgba(145, 104, 142, 0.774) 40%
  );
  background-size: 300% 300%;
  animation: Slide 1s ease 1;
}

@keyframes Slide {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
